body {
    font-family: 'Fira Sans', sans-serif;
}

.headline2 {
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

.headline2 h1 {
    font-size: 3.2em;
    padding-top: 3.9em;
    padding-bottom: 3.9em;
}

h2 {
    font-size: 2.5em;
    text-align: center;
    padding-top: 3em;
    max-width: 700px;
}

.paragraph {
    height: auto;
    text-align: left;
    display: flex;
    justify-content: center;
}

.paragraph p {
    padding-top: 3em;
    max-width: 700px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 0.9em;
    color: #999999;
    letter-spacing: 1.05px;
    line-height: 30px;
    text-align: justify;
}

.btn {
    padding-top: 3em;
    display: flex;
    justify-content: center;
}

.contact-btn {
    padding: 25 55 25 55;
    border: 2px solid #202020;
    border-radius: 100px;
    font-size: 0.8em;
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 0.91px;
    font-weight: 600;
}

.contact-btn:hover {
    padding: 25 55 25 55;
    background-color: #202020;
    color: white;
    border-radius: 100px;
    font-size: 0.8em;
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 0.91px;
    font-weight: 600;
}
