body {
    font-family: 'Fira Sans', sans-serif;
    margin-left: 3%;
    margin-right: 3%;
}

h1,
h2 {
    font-family: 'Raleway', sans-serif;
}

html,
body {
    height: 100%;
}

header {
    display: inline-grid;
    grid-template-columns: 7fr 3fr 6fr;
    width: 100%;
    height: 2em;
    padding-top: 30px;
    vertical-align: middle;
}

.left {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    height: inherit;
    align-items: left;
    justify-content: left;
    color: #999999;
    margin-left: 0;
}

.center {
    vertical-align: center;
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    height: inherit;
    align-items: center;
    justify-content: center;
}

.right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: auto;
    height: inherit;
    align-items: right;
    text-align: right;
    padding-left: 300px;
}

header a {
    text-decoration: none;
    padding-top: 10px;
    color: #B1B1B1;
    font-weight: 100;
    font-size: 1em;
}

header a:hover {
    color: black;
}

header a:focus {
    color: black;
}

.active {
    color: black;
}

#logo {
    font-family: 'Raleway', sans-serif;
    font-size: 1.7em;
    font-weight: 600;
    text-transform: uppercase;
    width: auto;
    height: inherit;
    justify-content: center;
    margin: 0;
}
