/* The actual timeline (the vertical ruler) */

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 0px;
}

.timeline2 {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
}


/* The actual timeline (the vertical ruler) */

.timeline::after {
    content: '';
    position: absolute;
    width: 1px;
    background-color: #B1B1B1;
    top: 0;
    bottom: 0;
    left: 2%;
    margin-left: 0px;
    margin-top: 50px;
}


/* Container around content */

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    height: auto;
    position: relative;
    padding-bottom: 8em;
}

.container:last-child {
    padding-bottom: 40px;
}


/* The circles on the timeline */

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: 0184FF;
    top: 45px;
    border-radius: 50%;
    z-index: 1;
}


/* Container around content */

.container2 {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    height: auto;
    position: relative;
}


/* The circles on the timeline */

.container2::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    top: 45px;
    border-radius: 50%;
    z-index: 1;
}


/* Place the container to the left */

.left {
    left: 0;
}


/* Place the container to the right */

.right {
    left: 5%;
}


/* Fix the circle for containers on the right side */

.right::after {
    left: -48px;
}


/* The actual content */

.content {
    padding: 20px 30px;
    width: 400px;
    border-radius: 6px;
    text-align: left;
}

.details {
    padding: 20px 30px;
    text-align: justify;
    height: auto;
}

.title {
    font-family: 'Fira Sans', sans-serif;
    font-size: 25px;
    color: #202020;
    letter-spacing: 0.87px;
    line-height: 35px;
    margin: 0;
}

.school {
    font-family: 'Fira Sans', sans-serif;
    font-size: 19px;
    color: #B45EFF;
    letter-spacing: 3.5px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-weight: 600;
    line-height: 35px;
}

.company {
    font-family: 'Fira Sans', sans-serif;
    font-size: 19px;
    color: #0083FF;
    letter-spacing: 3.5px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-weight: 600;
    line-height: 35px;
}

.location {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    color: #0083FF;
    letter-spacing: 3.5px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-weight: 100;
    line-height: 35px;
}

.location2 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    color: #B45EFF;
    letter-spacing: 3.5px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-weight: 100;
    line-height: 35px;
}

.period {
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    color: #0083FF;
    letter-spacing: 3.5px;
    margin: 0;
    padding: 0;
    font-weight: 100;
    line-height: 35px;
    font-style: italic;
}

.period2 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    color: #B45EFF;
    letter-spacing: 3.5px;
    margin: 0;
    padding: 0;
    font-weight: 100;
    line-height: 35px;
    font-style: italic;
}

.intro {
    font-family: 'Fira Sans', sans-serif;
    font-size: 0.9em;
    color: #555555;
    letter-spacing: 1.05px;
    line-height: 30px;
    font-weight: 200;
}

.normal {
    font-family: 'Fira Sans', sans-serif;
    font-size: 0.9em;
    color: #999999;
    letter-spacing: 1.05px;
    line-height: 30px;
    font-weight: 200;
}

.edit {
    font-family: 'Fira Sans', sans-serif;
    font-size: 0.9em;
    color: #999999;
    letter-spacing: 1.05px;
    line-height: 30px;
    font-weight: 200;
    font-style: italic;
}

.btn {
    padding-top: 3em;
    display: flex;
    justify-content: center;
    outline: none;
}

.contact-btn {
    padding: 25 55 25 55;
    border: 2px solid #0083FF;
    border-radius: 100px;
    font-size: 0.8em;
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 0.91px;
    font-weight: 600;
    color: #0083FF;
    margin-top: 50px;
    margin-bottom: 50px;
    outline: none;
}

.contact-btn:hover {
    padding: 25 55 25 55;
    background-color: #0083FF;
    color: white;
    border-radius: 100px;
    font-size: 0.8em;
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 0.91px;
    font-weight: 600;
}

.headline .skills {
    padding-top: 2em;
}

.skillset {
    margin-top: -200px;
    width: 100%;
    display: flex;
}

#containerUI {
    margin: 20px;
    width: 400px;
    height: 8px;
    position: relative;
}


/* Scroll bar */

.start>.slideUp {
    animation-name: slideUp;
    -webkit-animation-name: slideUp;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-timing-function: ease right;
    -webkit-animation-timing-function: ease right;
    visibility: visible !important;
}

@keyframes slideUp {
    100% {
        opacity: 1;
    }
    0% {
        width: 0;
        opacity: 0;
    }
}

.bargraph {
    position: relative;
    margin: 0 auto;
    display: flex;
}

.bargraph ul.bars {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.bargraph ul.bars li {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    padding: 0;
    margin: 10;
    text-align-last: center;
    font-weight: 200;
    color: white;
    line-height: 2em;
    font-size: 13px;
    z-index: 99;
}

.bargraph ul.bars li.bluebar {
    background-color: #0184FF;
}

.bargraph ul.bars li.redbar {
    background-color: #0184FF;
}

.bargraph ul.bars li.greenbar {
    background-color: #0184FF;
}

.bargraph ul.bars li.orangebar {
    background-color: #0184FF;
}

.bargraph ul.bars li.grapebar {
    background-color: #0184FF;
}

.bargraph ul.bars li.purplebar {
    background-color: #0184FF;
}

.bargraph ul.bars li.crimsonbar {
    background-color: #0184FF;
}

.bargraph ul.bars li.navybar {
    background-color: #0184FF;
}

.bargraph ul.bars li.goldbar {
    background-color: #0184FF;
}

.bargraph ul.bars li.tealbar {
    background-color: #0184FF;
}

.label {
    bottom: 0px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.label li {
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.9em;
    width: 150px;
    overflow: hidden;
    line-height: 2.9em;
}

.bargraph p {
    position: relative;
    left: 0;
    top: 236px;
    padding: 0;
    margin: 0;
    text-align: left;
    width: 100%;
    font-size: 10px;
    color: black;
    line-height: 1.3em;
}


/* Media queries - Responsive timeline on screens less than 600px wide */

@media screen and (max-width: 600px) {
    .skillset {
        margin-top: -350px;
        width: 100%;
        display: flex;
    }
    /* Place the timelime to the left */
    .timeline::after {
        left: 28px;
    }
    /* Full-width containers */
    .container {
        width: 80%;
        padding-left: 50px;
        padding-right: 25px;
        display: grid;
        grid-template-columns: repeat(1, 100%);
        height: auto;
        position: relative;
    }
    .container2 {
        width: 80%;
        padding-left: 50px;
        padding-right: 25px;
        display: grid;
        grid-template-columns: repeat(1, 100%);
        height: auto;
        position: relative;
    }
    /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }
    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 15px;
    }
    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}

.scroll2 {
    display: none;
}

.hide {
    display: none;
}

.timeline {
    overflow: hidden;
}

.jobitem {
    opacity: 0;
    transition: opacity 1s linear;
}

.jobitem.show {
    display: grid;
    opacity: 1;
}

.bargraph ul.bars li {
    position: relative;
    height: 30px;
    border-radius: 10px;
    padding: 0;
    margin: 10;
    text-align-last: center;
    font-weight: 200;
    color: white;
    line-height: 2em;
    font-size: 13px;
    z-index: 99;
}
